@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Lovelace;
  src: url("/assets/font/Lovelace-Regular.otf");
}

/* Custom font usage */
.font-lovelace {
  font-family: Lovelace, sans-serif;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
