<div class="h-auto w-auto flex flex-col ">
  <div class="flex justify-center items center">
    <div
      class="h-56 w-72 shadow-md border bg-white opacity-50 rounded-lg hover:opacity-25 flex justify-center items-center">
      <img src="/assets/img/react-logo.png" alt="react" class="rounded-lg object-contain" />
    </div>
  </div>
  <div class="mt-4">
    <div
      class="h-56 w-72 shadow-md border bg-white opacity-50 rounded-lg hover:opacity-25 flex justify-center items-center">
      <img src="/assets/img/fastify-logo.png" alt="fastify" class="rounded-lg object-contain" />
    </div>
  </div>
</div>