<div class="min-h-[1000px] min-w-screen flex flex-col font-lovelace p-12 mt-12">
  <div class="flex flex-col justify-center items-center mx-auto">
    <p class="text-8xl">Hello, I'm <i>Kristien Nyamutsaka</i></p>
    <p class="text-8xl">and I'm a {{this.currentJobTitle}} Engineer.</p>
  </div>

  <div class="sticky top-2 flex justify-center items-center py-10">
    <img src="/assets/img/profile-pic.jpg" alt="profile-picture"
         class=" h-32 w-32 rounded-full shadow-xl" />
  </div>

  <p class="text-3xl text-center w-1/4 self-center my-12">I love contributing across the whole field of
    sofware
    engineering.</p>

  <div class="flex justify-center items-center mt-12">
    <button class="font-bold text-lg" type="button">
      ABOUT ME
    </button>
  </div>
</div>