<div class="flex flex-col justify-center items-center mx-auto">
  <p class="text-8xl">Hello, I'm <i>Kristien Nyamutsaka</i></p>
  <p class="text-8xl">and I'm a {{this.currentJobTitle}} Engineer.</p>
</div>